body{
    margin: 0%;
}

th {
    padding: 4px;
}

.search_text_field___main{
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-column-gap: 30px;
}

.search_text_field___btn_pesquisar{
    background-color: #3D8742 !important;
    color: white !important;
}
.pedido___img___bozzano{
    width: 50px;
}

.menu-list {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.54);
    padding: 16px;
    text-align: center;
    outline: none;
}

.menu-list-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    outline: none;
}

.menu-list-item:hover {
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:960px) {
    .menu-list {
        overflow-x: auto;
        list-style: none;
        white-space: nowrap;
        padding: 0;
    }

    .menu-list-item {
        display: inline-block !important;
    }
}