.cadastro-usuario-paper{
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: #FDF5E6 !important;
}
.cadastro-usuario___hr{
  width: 120px;
  border: 1px solid #009688;
}
.cadastro-usuario-form___campo___nome{

}
.cadastro-usuario-form___campo___email{

}
.cadastro-usuario-form___campo___senha{

}
.cadastro-usuario-form___campo___btn{
  padding-bottom: 20px;
}