
.pedido-cliente
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pedido-cliente span
{
    margin-bottom: -15px;
}

.cliente___nome{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 30px !important;
}

/* MOBILE */
@media (max-width: 600px)
{
    .cliente___nome{
        font-size: 20px !important;
    }
}

