.titulo {
    margin-right: 80px !important;  
}

.appbar {
    height: 65px;
    display: flex;
    justify-content: center;
    background: #00a651 !important;
}

.user-info {
    padding: 20px;
}

@media (max-width: 600px)
{
    .titulo{
        display: none !important;
    }
}