.home___man {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}


.home___banner {
    max-width: 700px;
    margin: 50px;
}

/* MOBILE */
@media (max-width: 600px)
{
    .home___opcao___titulo{
        font-size: 13px !important;
    }
    .home___banner {
        width: 90%;
    }
}