@media (min-width: 950px)
{
    .pesquisa-mercadoria___main{
        display: grid !important;
        grid-template-columns: 1fr 0.2fr;
        grid-column-gap: 10px;
    }
}

.pesquisa-mercadoria___main{
    display: grid !important;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
