.login-paper{
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background-color: #FDF5E6 !important;
}
.login-hr{
  width: 120px;
  border: 1px solid #009688;
}
.login-form___campo___email{
}
.login-form___campo___senha{

}
.login-form___campo___btn{
  padding-bottom: 20px;
}