.menu-list-item {
    justify-content: center !important;
}


@media (max-width: 700px)
{
    .pedido-barra-lateral___filtro_rapido{
        display: grid !important;
        grid-template-columns: auto auto;
        grid-column-gap: 5px;
    }
}

