.drawer_menu___main{
    width: 240px;
}

.drawer_menu___titulo{
    padding-top: 16px;
    padding-bottom: 5px;
    text-align: left;
    margin-left: 12px;
    font-size: 1.1rem !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    text-transform: uppercase;
}

.logo-header {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 16px;
}

.menu-item {
    padding: 10px !important;
}

.menu-item.comprar {
    color: #00a651;
}